<div class="panel panel-default">
    <div class="panel-heading text-center">
        <div class="panel-title">コメントを投稿する</div>
    </div>
    <div class="panel-body">

        <!-- コメント新規投稿フォーム -->

        <%= form_with(model:[article, post_comment], url: article_post_comments_path(article.id), method: :POST, remote: true) do |f| %>

            <table class="table table-hover table-inverse">
                <tbody>
                    <tr>
                        <!-- コメント本文 -->
                        <td><%= f.text_area(:comment)%></td>
                    </tr>
                    <tr>
                        <td>
                            <!-- 画像 -->
                            <div class="image_field col-xs-5">
                                <%= f.attachment_field :post_comment_image %>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <%= f.submit("コメントを投稿する", class: "btn btn-default") %>

        <% end %>

        <!-- ここまで -->

    </div>
</div>