<div class="panel panel-default">
	<div class="panel-heading text-center">みんながよく見ている購入レポート</div>
    <div class="panel-body">
		<!-- 「いいね」の数をもとにカウントした購入レポートを上から3番目まで表示 -->
		<% ranks.each.with_index(1) do |rank,i| %>

			<div class="col-xs-4">
				<div class="article panel panel-default">
					<div class="panel-heading text-center">第 <%= i %> 位</div>

					<div class="panel-body text-center">
						<div>
							<%= attachment_image_tag rank, :article_image, :fill, 300, 200, format: 'jpeg', class: "img-responsive center-block" %>
						</div>
						<div class="action">
							<%= link_to "詳しくはこちら", article_path(rank), class: "btn btn-default col-xs-12" %>
						</div>
					</div>
				</div>
			</div>

		<% end %>
		<!-- ここまで -->
	</div>
</div>