<body id="top">

    <h2 class="about-title text-center">　i e m a r u について </h2>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row about text-center">
                <div class="col-xs-3">
                    <span class="about-square fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading text-center"> i e m a r u </h4>
                </div>
                <div class="about-content col-xs-9 text-left">

                    <p>
                        <br>
                        住宅の購入の情報を気軽に共有・収集することができるサイトです。
                        <br>
                        このサイトは、質問投稿ページと購入レポートページの２部構成になっています。
                        <br>
                        <br>
                        目的に合わせてご活用下さい。
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row about text-center">
                <div class="col-xs-3">
                    <span class="about-square fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading text-center"> H o w&nbsp;&nbsp;t o </h4>
                </div>
                <div class="about-content col-xs-9 text-left">

                    <p>
                        <br>
                        住宅購入について、わからないことはどんどん質問してください。
                        <br>
                        「どんな家が作れるのかな」と思ったら、<br>みんなが投稿した購入レポートをみてください。
                        <br>
                        きっとあなたも「作りたい家」が見つかります。
                        <br>
                        <br>
                        そして、もしあなたが家を購入した時にはぜひ購入レポートをご投稿下さい。

                    </p>
                </div>
            </div>
        </div>
    </div>

	<div class="panel panel-default">
        <div class="panel-body">
            <div class="row about">
                <div class="col-xs-3 text-center">
                    <span class="about-square fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading text-center"> M i s s i o n </h4>
                </div>
                <div class="about-content col-xs-9 text-left">

                    <p>
                        <br>
                        住宅購入の情報が簡単に手に入るように、
                        <br>
                        家づくりって楽しいと思ってもらえるように、
                        <br>
                        世界に一つだけの自慢の我が家を作れるように、
                        <br>
                        <br>
                        <br>
                        それが i e m a r u のミッションです。
                    </p>

                </div>
            </div>
        </div>
    </div>

</body>