<body id="top">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display">

            <span class="top_title">&nbsp;&nbsp;i&nbsp;&nbsp;</span>
            <span class="top_title">&nbsp;e&nbsp;</span>
            <span class="top_title">&nbsp;m&nbsp;</span>
            <span class="top_title">&nbsp;a&nbsp;</span>
            <span class="top_title">&nbsp;&nbsp;r&nbsp;&nbsp;</span>
            <span class="top_title">&nbsp;u&nbsp;</span>

        </h1>
        <br>
        <br>
        <br>

        <p class="lead text-center">住宅情報サイト</p>

    </div>

    <div class="top_warning text-center">
        <h6>
            このサイトは製作者のポートフォリオのため、投稿されている内容や画像は全てフィクションになります。
            <br>
            <br>
            投稿されている画像は、素材サイトの<a href="https://www.photo-ac.com/">写真AC</a>様から引用させて頂きました。
        </h6>
    </div>

</body>
