<body id="back">

	<!-- カテゴリー検索  -->
	<div id="category">
	  <%= render 'categories/category', categories: @categories %>
	</div>

	<!-- 検索結果表示画面  -->
	<div id="category_index">
	  <%= render 'categories/index', category: @category, questions: @questions  %>
	</div>

	<!-- リンク -->
	<div class="question_show_link">
		<%= link_to "一覧画面へ戻る", questions_path, class: 'col-xs-12 btn btn-default' %>
	</div>

</body>


